* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background: url("/images/bg-top.svg") top right no-repeat,
    url("/images/bg-bottom.svg") bottom left no-repeat;
  background-color: hsl(240, 78%, 98%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: hsl(233, 13%, 49%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
button {
  font-family: "Montserrat", sans-serif;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: hsl(234, 14%, 74%);
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container div p {
  padding: 2vh 0;
}

.flex-container > div {
  background-color: white;
  padding: 0 2%;
  border-radius: 5%;
  min-width: 20vw;
  min-height: 45vh;
}
.flex-container > div:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  transform: scale(1.1);
  color: white;
}
.flex-container > div:hover button {
  background-image: none;
  background-color: white;
  color: hsl(236, 72%, 79%);
}

.flex-container button {
  width: 100%;
  margin-top: 2vh;
  padding: 5%;
  border-radius: 0.25rem;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
  word-spacing: 1px;
  letter-spacing: 0.25px;
}

.spans {
  display: flex;
  align-items: center;
  justify-content: center;
}
#title-box > div > span {
  padding: 0 1vw;
  color: hsl(234, 14%, 74%);
  font-size: 15px;
}

.price {
  font-size: 2.5rem;
  color: hsl(232, 13%, 33%);
  padding: 1vw 0;
}
.dollar-symbol {
  font-size: 1.5rem;
  color: hsl(232, 13%, 33%);
  padding: 1vw 0.5vw;
}
.flex-container div:hover span {
  color: white;
}

#title-box div {
  font-size: 1.5rem;
  padding: 2vh 0;
}

/*Switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(236, 72%, 79%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
